@import url('https://fonts.googleapis.com/css?family=Kanit');

body {
  margin: 0;
  background: -webkit-linear-gradient(
    top,
    rgba(255, 0, 132, 1) 0%,
    rgba(255, 140, 0, 1) 100%
  );
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
  font-family: 'Kanit', sans-serif;
}
